.page-header {
    border: none;
    margin: 80px 0 40px;
}
.page-header-h1 {
    font-family: raleway,sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-display: swap;
}
.page-header h5 {
    text-align: center;
}

.page-header:after {
    content: "";
    display: block;
    position: relative;
    height: 3px;
    width: 113px;
    background-color: #F91944;
    margin: 0 auto;
}
.about-us p{
    font-family: josefin sans,sans-serif;
    font-size: 22px;
    font-display: swap;
}
.about{
    background-color:#BDBDBD;
    padding-bottom: 80px;
}
.signature{
    width: 321px;
    height: 66px;
}