.container{
    overflow:hidden;
}
button .btn{
    border : none !important;
}

/* .btn.focus, .btn:focus {
    outline: 0;
    color: white;
    box-shadow: 0 0 0 .1rem rgba(249, 39, 79) !important;
} */

.menu-item .active{
    outline: 0;
    color: #FFFFFF;
    box-shadow: 0 0 0 0.1rem hsl(354deg 70% 40%) !important;
}
.page-header-h1{
    color: black;
}