/* * {
	box-sizing: border-box;
  } */

#booking {
	font-family: 'Montserrat', sans-serif;
	background-image: url('../../hot-onion-restaurent-resources-master/reservation2.png');
	background-size: cover;
	background-position: center;
	color: red;
}

#booking::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
    background: rgba(189, 189, 189, 0.1);

}
.reservation {
	position: relative;
	height: 85vh;
    overflow: hidden;
}
.reservation .form-area{
	position: absolute;
	top: 50%;
  	left: 52%;
  	transform: translate(-50%, -50%);
	width: 89vw;
	
}


.booking-form {
	background-color: #fff;
	padding: 50px 20px;
	-webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
}

.booking-form .submit-btn {
	display: inline-block;
	color: #fff;
	background-color: #F9274F;
	font-weight: 700;
	padding: 14px 30px;
	border-radius: 4px;
	border: none;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
	opacity: 0.9;
}

.booking-form section{
	margin-top: 8px;
	margin-bottom: 8px;
}
.booking-cta {
	margin-top: 80px;
	margin-bottom: 30px;
	
}

.booking-cta h2 {
	text-transform: uppercase;
	color: #212121;
	font-weight: 800;
	font-family: raleway,sans-serif;
}

.booking-cta p {
	color: #212121;
	font-weight: 700;
	font-size: 20px;
}
.MuiInput-underline:before{
	border-bottom: 1px solid #212121 !important;
}
.MuiInput-underline::after{
	border-bottom: 2px solid #F9274F !important;
}

.error{
	color: red;
}
input::after{
	border: 1px solid #F9274F !important;
}
input::before{
	border: 1px solid #F9274F !important;
}

input[type=number]:focus-visible {
	outline: 3px solid #F9274F !important;
	box-shadow: 0px 0px 0px 1px red;
	
}

input[type=number] {
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
	height: 36px;
  }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
	-moz-appearance: textfield;
  }

label{
	color: rgba(0, 0, 0, 0.54);
    padding: 0;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.00938em;
}
.css-1pahdxg-control{
	border: 2px solid #F9274F !important;
	box-shadow: 0 0 0 1px #F9274F !important;
}


