/* *{
	box-sizing: border-box;
} */
.tittle-block h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: raleway,sans-serif;
    text-transform: uppercase;
    color: #4b4741;
    text-align: center;
    font-weight: 800 !important;
}
.home {
    position: relative;
    height: 100vh;
    width: 100%;
    background: url(../../hot-onion-restaurent-resources-master/bg2.webp) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.home .tittle-block {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    padding: 10px;
}
.home .tittle-block .coverLogo {
    text-align: center;
}
.home .tittle-block h1 {
    color: #fff;
    font-size: 3.5rem;
	text-transform: uppercase;
	text-align: center;
   
}
.home .tittle-block h2 {
    text-transform: none;
    font-weight: 400;
    color: #e6e6e6;
    font-size: 1.5rem;
	text-align: center;
}
.home .scroll-down {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}
img {
    vertical-align: middle;
	border: 0;
}
.imageLogo{
    width: 330px;
    height: 300px;
}
.arrow-down{
    width: 35px;
    height: 58px;
}