.logo{
    width: 200px;
}
.btn-danger{
    background-color: #F9274F !important;
}
.shopping-cart{
    font-size: 20px !important;
}

#lblCartCount{
    font-size: 14px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -8px;
}