#Layer_1{
    width: 200px;
}
.cls-1,.cls-4{opacity:0.7;}
.cls-2,.cls-3,.cls-4{fill:#9E9E9E;}
.cls-3,.cls-4,.cls-5,.cls-7{stroke:#000;stroke-miterlimit:10;}
.cls-5,.cls-7{fill:none;}
.cls-5,.cls-6{opacity:0.2;}
.emailverificationDiv{
    padding-top:170px;
}
